$bgcol: #fff;
$fontcol: #0d0d0d;
$orange: #d0693a;

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: $bgcol;
  color: $fontcol;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  font-size: 1.25rem;

  * {
    box-sizing: border-box;
    outline: none !important;
  }
}

header {
  min-height: 100vh;
  background-image: url("img/cover.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  padding: 0 10% 4em 10%;
  color: $orange;
  display: grid;
  grid-template-rows: 1fr auto auto;
  grid-template-columns: auto 1fr;

  //h1 {
  //  grid-row: 2 / 3;
  //  grid-column: 1 / 2;
  //  font-size: 10em;
  //  font-weight: 600;
  //  line-height: 1;
  //  padding: 0;
  //  margin: 0 5rem 0 0;
  //  background-color: rgba($bgcol, 0.5);
  //  letter-spacing: -0.1em;
  //}

  img {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    padding: 0;
    margin: 3em 5rem 0 0;
    background-color: rgba($bgcol, 0.5);
    overflow: visible;
    width: 15em;
  }

  div.h2 {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    vertical-align: bottom;

    h2 {
      vertical-align: bottom;
      font-size: 1.5em;
      font-weight: 400;
      padding: 0;
      margin: 0;
      background-color: rgba($bgcol, 0.7);
    }

    h1 {
      font-size: 3em;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: normal;
      background-color: rgba($bgcol, 0.7);
    }
  }

  h6 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    font-size: 1em;
    font-weight: 500;
    padding: 0;
    margin: 0;
    background-color: rgba($bgcol, 0.7);

    span {
      font-weight: 500;
    }
  }

  #logo-soc {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    text-align: end;

    img {
      height: 2em;
      width: auto;
      padding: 1em 0 0 0;
    }
  }

}

article {
  display: grid;
  grid-template-columns: 1fr;
}

section {
  margin: 4em 25% 0 25%;

  h3 {
    color: $orange;
    text-transform: uppercase;
    font-weight: 400;

    span {
      text-transform: none;
    }
  }

  p {
    margin: 0 0 1.5em 0;
  }

  a {
    text-decoration: none;
    color: $orange;
    font-weight: 400;
  }
}

section#cities {
  margin: 4em 0 0 0;
  padding: 0;
  height: 100vh;

  nav {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    padding: 1em 10% 1em 10%;

    #city-buttons {
      pointer-events: auto;
      grid-row: 1 / 2;
      justify-self: center;
      display: grid;
      width: 100%;
      grid-template-columns: repeat(5, 1fr);
      position: sticky;
      top: 0.5em;

      button {
        cursor: pointer;
        border-radius: 0;
        background-color: $bgcol;
        border: 1px solid lighten($fontcol, 40%);
        transition: all 0.5s;
        padding: 0.5em 1em 0.5em 1em;
        margin: 0 1em 0 1em;
      }

      button.active {
        background-color: lighten($fontcol, 40%);
        color: $bgcol;
      }
    }

    #up, #down {
      pointer-events: auto;
      cursor: pointer;
      //background-color: darken($bgcol, 5%);
      background-color: $bgcol;
      border-radius: 100%;
      box-shadow: none;
      padding: 0.5em;
      border: none;

      path {
        fill: none;
        stroke-width: 4px;
        stroke-opacity: 0.5;
        stroke: $fontcol;
      }
    }

    #up {
      justify-self: center;
      grid-row: 2 / 3;
      margin-top: 1em;
    }

    #down {
      justify-self: center;
      grid-row: 4 / 5;
      margin-bottom: 1em;
    }
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
}

figure {
  padding: 0;
  margin: 0;
}

#poznyaki {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 1em;

  img {
    max-width: 100%;
  }
}

img.chart {
  max-width: 100%;
  margin: 1em 0 2em 0;
}

img#price {
  max-width: 85%;
}

#hists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 4em 0 5em 0;

  img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}