<!DOCTYPE html>
<html>
  <head>
    <title>Blend4Web Player</title>
    <meta property="og:title" content="Blend4Web Player">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <meta name="description" content="Check out these awesome 3D graphics made with Blend4Web!">
    <meta name="og:description" content="Check out these awesome 3D graphics made with Blend4Web!">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500,700&amp;amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">$b4w_meta
    <style type="text/css">$styles</style>
    <script type="text/javascript" id="built_in_scripts">$scripts; b4w.module["built_in_data"] = function(exports, require) {exports["data"] = $built_in_data}</script>
  </head>
  <body>
    <div id="main_canvas_cont"></div>
    <div class="active" id="preloader_cont">
      <div id="bg"></div>
      <div id="logo_cont">
        <svg>
          <circle id="svg_preloader_circle" shape-rendering="geometricPrecision" r="54" cx="60" fill="transparent" cy="60" transform="rotate(-90 60 60)" stroke-width="4px"></circle>
        </svg>
        <p><span>0</span>%</p>
      </div>
    </div>
  </body>
</html>